#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  padding: 2rem;
  text-align: center;
}



.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product-container{
  max-width:80%;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.month{
  font-weight: normal;
  color: gray;
}