#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  padding: 2rem;
  text-align: center;
}



.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  
}

.product-container{
  max-width:80%;
  display: flex;
  flex-wrap: wrap;
  background-color: red;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.month{
  font-weight: normal;
  color: gray;
}


/* HEADER */

.Mui-selected{
  color: purple !important;
  background-color:rgba(56.1, 0, 100, .1) !important;
  border-radius: .5rem !important;
;
}

b{
  background-color: purple;
  padding: .2rem;
  color: white;
}
ul li{
  list-style: none;
  font-size: 1rem;
  list-style-type: disc;

}

.modal-link{
  font-weight: 700;
  padding: 0.4rem;

}
.modal-link:hover{
  background-color: purple;
  color: white;
  transition: 200ms ease-in-out;
}